<header class="header">
    <nav class="header__nav">
        <img src="" alt="logo" class="header__logo">
        <ul class="header__list">
            <li>Medication</li>
            <li>Add</li>
            <li></li>
        </ul>
        <button class="">Contact</button>
    </nav>
</header>