.login-logo,.register-logo{
  font-size:2.1rem;
  font-weight:300;
  margin-bottom:.9rem;
  text-align:center;
  align-self: center;
}
.login-logo a,.register-logo a{
  color:#495057;
}
.login-page,.register-page{
  align-items:center;
  display:flex;
  flex-direction:column;
  height:100vh;
  justify-content:center;
}
.login-box,.register-box{
  width:360px;
}
@media (max-width:576px){
  .login-box,.register-box{
    margin-top:.5rem;width:90%;
  }
}
.login-card-body,.register-card-body{
  background:#fff;
  border-top:0;
  color:#666;
  padding:20px;
}
